<html>
 <head>
   <title>Change Password Page</title>
 </head>
 <body>
     <form name="form1" method="POST">
       {{msg}}
<center>
<tr>
<td>Change Password
</td></tr></center><br/>
<table align="center">
<tr>
<td>Current Password</td>
<td>
<input type="password" name="password" required placeholder="Enter Password" maxlength="30"/>
</td>
</tr>
<tr><td colspan=2><hr/></td></tr>
<tr>
<td>New Password</td>
<td>
<input type="password" name="password" required placeholder="Enter Password" maxlength="30"/>
</td>
</tr>
<tr><td colspan=2><hr/></td></tr><tr>
<td>Confirm Password</td>
<td>
<input type="password" name="password" required placeholder="Enter Password" maxlength="30"/>
</td>
</tr>
<tr><td colspan=2><hr/></td></tr><tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" name="btnsubmit" value="Change"/>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;
<input type="reset" name="btnclear" value="Cancel">
</td>
</tr></table>
{%csrf_token%}
</form>
</body>