<html>
 <head>
   <title>Train Route Page</title>
 </head>
 <body>
     <form name="form1" method="POST">
     	{{msg}}
<center>
<tr>
<td>Train Route
</td></tr></center>
<br/>
<table align="center">
<tr>
<td>Train Number</td>
<td>
<select required name="trainnumber">
<option value="">Select Train Number</option>
<option>16526</option>
<option>20653</option>
<option>16316</option>
<option>11013</option>
</select></td></tr>
<tr><td colspan=2><hr/></td></tr>
<tr>
<td>From</td>
<td>
<select required name="cityname">
<option value="">Select City Name</option>
<option>Bangalore</option>
<option>Hubli</option>
<option>Mangalore</option>
<option>Mysore</option>
</select></td></tr>
<tr><td colspan=2><hr/></td></tr>
<tr>
<td>To</td>
<td>
<select required name="city">
<option value="">Select City Name</option>
<option>Hassan</option>
<option>Kalaburagi</option>
<option>Shimoga</option>
<option>Raichur</option>
</select></td></tr>
<tr><td colspan=2><hr/></td></tr>
<tr>
<td>Route</td>
<td><textarea name="address" rows="4" placeholder="Enter Address" cols="50"></textarea>
</td></tr>
<tr><td colspan=2/><hr/></td></tr>
<tr>
<td>Departure Time</td>
<td><input type="time" name="departuretime" placeholder="Enter Time" autofocus="on" autocomplete="off" required="required"/></td>
</tr>
<tr><td colspan=2><hr/></td></tr>
<tr>
<td>Arrival Time</td>
<td><input type="time" name="arrivaltime" placeholder="Enter Time" autofocus="on" autocomplete="off" required="required"/></td></tr>
<tr><td colspan=2><hr/></td></tr>
<tr>
<td><input type="submit" name="btnsubmit" value="submit"/>
</td>
<td><input type="reset" name="btnclear" value="Cancel">
</td>
</tr></table>
{%csrf_token%}
</form>
</body>